*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: hsl(212, 45%, 89%);
}

.container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 350px;
  height: 528px;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.qr{
  width: 318px;
  height: 318px;
  background-color: #2a9df4;
  margin: 16px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.cardTitle{
  margin: 32px;
  margin-top: 0px;
  margin-bottom: 16px;
  font-size: 24px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  color: hsl(218, 44%, 22%);
}

.cardContent{
  margin: 32px;
  margin-top: 0px;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: lightslategray;
  font-size: 16px;
  font-weight: 500;
}

.attribution{
  position: fixed;
  bottom: 1%;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
}